<%- include('partials/header') %> 
    <h1>INDEX</h1>
    <% console.log(user) %> 
    <% if (user) { %>
        <%- include('partials/treeview') %>
    <% } else { %>
        <h1>LOG IN PLZ</h1>
    <% } %> 

</body>
</html>